<!DOCTYPE HTML>
<!--
	Ethereal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
	
		<title>Feelin' It</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		
	</head>
	<body>
	
		<!-- Page Wrapper -->
			<div id="page-wrapper">
				
				

				<!-- Wrapper -->
					<div id="wrapper">
					

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								
								<div class="content color0 span-3-75">
									<h1 class="major">Welcome to Feelin' It!</h1>
									<p>This is <strong>Feelin' It</strong>, a user customized music web application. Discover playlists for any moment and stream with premium sound quality. From emerging to major artists around the world, Feelin' It explores influential talents tailored to your mood and favorite genre.</p>
									<ul class="actions">
										<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
									
									<!--FIRST TRY-->
										<!--<audio controls>-->
 									<!--	 <source src="Heart_Break.mp3" type="audio/mpeg" >-->
										<!--</audio>-->
										
									<!--	SECOND TRY-->
									<!--	<embed src="1.wav" autostart="true" loop="infinite"-->
									<!--	width="2" height="0">-->
									<!--	</embed>-->
										
									<!--<ul class="actions">-->
									<!--	<li><a href="#playlist" class="button small">Custom Playlist</a></li>-->
									<!--<br>-->
									
									<!--<ul class="actions">-->
									<!--	<li><a href="#discover" class="button small">Discover a New Artist</a></li>-->
										
									<!--<br>-->
									
									<!--<ul class="actions">-->
									<!--	<li><a href="#women" class="button small">Girl Power Playlist</a></li>-->
									<!--</ul>-->
								</div>
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="https://media.giphy.com/media/xUA7biEPrY8wGqDJFS/giphy.gif" alt="" />
								</div>
							</section>
							
							<!--DISCOVERY Panel -->
							<section class="panel">
								<div class="intro color4">
									<h1>Get Excited!</h1>
									<br>
									  <ul class="actions">
										<li><a href="#playlist" class="button small">Custom Playlist</a></li>
									<br>
									<br>
									
									<ul class="actions">
										<li><a href="#discover" class="button small">Discover a New Artist</a></li>
										
									<br>
									<br>
									
									<ul class="actions">
										<li><a href="#women" class="button small">Girl Power Playlist</a></li>
									</ul>
								</div>

						<!-- MONDAY Panel (Spotlight) -->
						
							<section class="panel spotlight medium right" id="first">
								
							  
								<div class="content span-7">
									
									<h2 class="major">Customize Your Playlist</h2>
									<br>
									<form method="POST">
										<br>
											<p>What's your mood?</p><br>
											<div class="field quarter">
												<input type="radio" id="happy" name="user_mood" value="happy" class="color2" />
												<label for="happy">Happy</label>
											</div>
											
											<div class="field quarter">
												<input type="radio" id="sad" name="user_mood" value="sad" class="color2" />
												<label for="sad">Sad</label>
											</div>
											
											<div class="field quarter">
												<input type="radio" id="chill" name="user_mood" value="chill" class="color2" />
												<label for="chill">Chill</label>
											</div>
											<br>
											<br>
											
											<!--<ul class="actions">-->
											<!--	<li><input type="submit" value="Show me the playlist!" class="special color2" /></li>-->
											<!--</ul>-->
											<p>What's your favorite genre?</p><br>
											<ol>
											<div class="field quarter">
												<input type="radio" id="pop" name="user_genre" value="pop" class="color2" />
												<label for="pop">Pop</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="r&b" name="user_genre" value="r&b" class="color2" />
												<label for="r&b">R&B</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="rock" name="user_genre" value="rock" class="color2" />
												<label for="rock">Rock</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="hip-hop" name="user_genre" value= "hip-hop" class="color2" />
												<label for="hip-hop">Hip-Hop</label>
										
											</div>
											<div class="field quarter">
												<input type="radio" id="classical" name="user_genre" value="classical" class="color2" />
												<label for="classical">Classical</label>
											
											<div class="field quarter">
												<input type="radio" id="country" name="user_genre" value="country" class="color2" />
												<label for="country">Country</label>
											</div>
											</div>
											<ul class="actions">
												<li><input type="submit" value="Show me the playlist!" class="special color2" /></li>
												
									<!--				<ul class="actions">-->
									<!--	<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>-->
									<!--</ul>-->
											</ul>
									</form>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="https://i.pinimg.com/736x/81/0d/2f/810d2f32db0eb9cacb8bf6672932b2da--folk-photography-campfire-photography.jpg" alt=""/>
								</div>
								
							</section>
							
							<!--RESULTS 1 Panel -->
							
							<section class="panel color3" id="playlist">
								<div class="intro joined">
									<h2 class="major">Results</h2>
									<p>Based on your mood and favorite genre, we suggest listening to the following playlist.</p>
								</div>
								<div class="inner">
									<h1>Here is your customized playlist.</h1>
									  <p><%=@the_playlist%></p>

								</div>
							</section>

						<!-- Panel -->
							<section class="panel color2">
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="https://s-media-cache-ak0.pinimg.com/736x/d7/69/ba/d769ba0f115c932a06735533d8599d11--ultra-music-festivals-music-party.jpg" alt=""/>
								</div>
								<div class="intro joined">
									
									<h2 class="major">Beyoncé</h2>
									<p>Born on September 4, 1981, in Houston, Texas, Beyoncé Knowles first captured the public's eye as lead vocalist of the R&B group Destiny's Child. She later established a solo career with her debut album Dangerously in Love, becoming one of music's top-selling artists with sold-out tours and a slew of awards.</p>
								</div>
								<div class="inner">
									
									<h1><i>"We need to reshape our own perception <br> of 
									how we view ourselves. We have to step <br>up  as women and take the lead."</i></h1>
									</ul>
									
									
								</div>
							</section>
							
							
						<!-- MONDAY Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="third">
							  
								<div class="content span-7">
									
											<h2 class="major">Fresh Artists</h2>
									<p>Feelin' it always encourages listeners to venture out from their usual tunes. New artists are coming out with their inspirational songs so click ahead to immerse yourself in something new!</p><br>
									<p>Choose a genre.</p>							
									<form method="POST" action = "/artist">

											<ol>
											<div class="field quarter">
												<input type="radio" id="pop2" name="user_genre2" value="pop2" class="color2" />
												<label for="pop2">Pop</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="rnb2" name="user_genre2" value="rnb2" class="color2" />
												<label for="rnb2">R&B</label>
											</div>
											
											<div class="field quarter">
												<input type="radio" id="hiphop2" name="user_genre2" value= "hiphop2" class="color2" />
												<label for="hiphop2">Hip-Hop</label>
										
											
											</div>
											<ul class="actions">
												<li><input type="submit" value="Discover a new artist!" class="special color2" /></li>
											</ul>
									</form>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="https://ak8.picdn.net/shutterstock/videos/19807720/thumb/1.jpg" alt=""/>
								</div>
								
							</section>
							
							
						<!-- Panel (Spotlight) -->
						<!--	<section class="panel spotlight large left">-->
						<!--		<div class="content span-5">-->
						<!--			<h2 class="major">Fresh Artists</h2>-->
						<!--			<p>Feelin' it always encourages listeners to venture out from their usual tunes. New artists are coming out with their inspirational songs so click ahead to immerse yourself in something new!</p>-->
									
						<!--		</div>-->
						<!--		<form method="POST">-->
						<!--				<br>-->
						<!--					<p>What's your genre?</p><br>-->
						<!--					<div class="field quarter">-->
						<!--						<input type="radio" id="rnb2" name="user_genre2" value="rnb2" class="color2" />-->
						<!--						<label for="rnb2">R&B</label>-->
						<!--					</div>-->
											
						<!--					<div class="field quarter">-->
						<!--						<input type="radio" id="pop2" name="user_genre2" value="pop2" class="color2" />-->
						<!--						<label for="pop2">Pop</label>-->
						<!--					</div>-->
											
						<!--					<div class="field quarter">-->
						<!--						<input type="radio" id="hiphop2" name="user_genre2" value="hiphop2" class="color2" />-->
						<!--						<label for="hiphop2">Hip-Hop</label>-->
						<!--					</div>-->
						<!--		<ul class="actions">-->
						<!--						<li><input type="submit" value="Find me an artist!" class="special color2" /></li>-->
						<!--					</ul>-->
						<!--					</form>-->
										
											<!--CHECK THIS-->
						<!--		<div class="image filtered tinted" data-position="top right">-->
						<!--			<img src="images/pic03.jpg" alt="" />-->
						<!--		</div>-->
						<!--	</section>-->

						 <!--Panel -->
							<section class="panel" id="discover">
								<div class="intro color1">
									<h1>Based on your favorite genre, we recommend the following artist.</h1>
									  
								</div>
						
						<!-- RESULTS Discover Panel (Spotlight) -->
							<section class="panel spotlight medium right" >
							  
							  <p><%=@new_artist%></p>
							  
								<div class="content span-7">
									
									<!--<p><%=@new_artist%></p>-->
									
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="https://www.bell-integrated.co.uk/wp-content/uploads/2016/08/Vinyl-V1.0-records-2.jpg" alt="" />
								</div>
								
							</section>
							
							
							<!-- GIRL POWER TAKE 2 Panel (Spotlight) -->
						<!--	<section class="panel spotlight medium right" id="third">-->
							  
						<!--		<div class="content span-7">-->
									
						<!--					<h2 class="major">Fresh Artists</h2>-->
						<!--			<p>Feelin' it always encourages listeners to venture out from their usual tunes. New artists are coming out with their inspirational songs so click ahead to immerse yourself in something new!</p><br>-->
						<!--			<p>Choose a genre.</p>							-->
						<!--			<form method="POST" action = "/artist">-->

						<!--					<ol>-->
						<!--					<div class="field quarter">-->
						<!--						<input type="radio" id="pop2" name="user_genre2" value="pop2" class="color2" />-->
						<!--						<label for="pop2">Pop</label>-->
						<!--					</div>-->
						<!--					<div class="field quarter">-->
						<!--						<input type="radio" id="rnb2" name="user_genre2" value="rnb2" class="color2" />-->
						<!--						<label for="rnb2">R&B</label>-->
						<!--					</div>-->
											
						<!--					<div class="field quarter">-->
						<!--						<input type="radio" id="hiphop2" name="user_genre2" value= "hiphop2" class="color2" />-->
						<!--						<label for="hiphop2">Hip-Hop</label>-->
										
											
						<!--					</div>-->
						<!--					<ul class="actions">-->
						<!--						<li><input type="submit" value="Discover a new artist!" class="special color2" /></li>-->
						<!--					</ul>-->
						<!--			</form>-->
						<!--		</div>-->
						<!--		<div class="image filtered tinted" data-position="top left">-->
						<!--			<img src="images/pic02.jpg" alt="" />-->
						<!--		</div>-->
						<!--		<div class="image filtered span-1-75" data-position="24% 25%">-->
						<!--			<img src="http://www.desktopimages.org/pictures/2012/0701/1/orig_559436.jpg" alt=""/>-->
						<!--		</div>-->
								
						<!--	</section>-->
							
							
					
						 <!--Panel -->
						<!--	<section class="panel">-->
						<!--		<div class="intro color2">-->
						<!--			<h1>Based on your favorite genre, we recommend the following artist.</h1>-->
									  
						<!--		</div>-->
						
						<!-- RESULTS Discover Panel (Spotlight) -->
						<!--	<section class="panel spotlight medium right" id="seventh">-->
							  
						<!--	  <p><%=@new_artist%></p>-->
							  
						<!--		<div class="content span-7">-->
									
									<!--<p><%=@new_artist%></p>-->
									
						<!--		</div>-->
						<!--		<div class="image filtered tinted" data-position="top left">-->
						<!--			<img src="images/pic02.jpg" alt="" />-->
						<!--		</div>-->
								
						<!--	</section>-->
							
							 <!--FEMINIST Panel (Spotlight) -->
						
							<section class="panel spotlight medium right" id="girlpower">
								
							  
								<div class="content span-7">
									
									<h2 class="major">Girls Support Girls</h2>
									<br>
									<form method="POST" action = "/women">
										
										<br>
											<p>What's your favorite genre?</p><br>
											<ol>
											<div class="field quarter">
												<input type="radio" id="all3" name="user_genre3" value="pop3" class="color2" />
												<label for="all3">All</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="pop3" name="user_genre3" value="pop3" class="color2" />
												<label for="pop3">Pop</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="r&b3" name="user_genre3" value="r&b3" class="color2" />
												<label for="r&b3">R&B</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="rock3" name="user_genre3" value="rock3" class="color2" />
												<label for="rock3">Rock</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="indie3" name="user_genre3" value= "indie3" class="color2" />
												<label for="indie3">Indie</label>
										
											</div>
											<div class="field quarter">
												<input type="radio" id="country3" name="user_genre3" value="country3" class="color2" />
												<label for="country3">Country</label>
												
												<div class="field quarter">
												<input type="radio" id="folk3" name="user_genre3" value="folk3" class="color2" />
												<label for="folk3">Folk</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="jazz3" name="user_genre3" value="jazz3" class="color2" />
												<label for="jazz3">Jazz</label>
											</div>
											</div>
											<ul class="actions">
												<li><input type="submit" value="Show me the playlist!" class="special color2" /></li>
											</ul>
									</form>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="http://www.yorkplacestudios.co.uk/wp-content/uploads/2013/02/holly-jazz-lowe-studio-canon-5d-mkiii-1.jpg" alt=""/>
								</div>
								
							</section>
							
							
							<!--RESULTS 1 Panel -->
							
							<section class="panel color3" id="women">
								<div class="intro joined">
									<h2 class="major">Results</h2>
									<p>Based on your favorite genre, we suggest listening to the following girl power playlist.</p>
								</div>
								<div class="inner">
									<h1>Here is your customized playlist.</h1>
									  <p><%=@women_playlist%></p>

								</div>
							</section>
							
							
							<!--DISCOVERY Panel -->
							<section class="panel">
								<div class="intro color2">
									<h1>The current hottest tracks.</h1>
									  
								</div>
							
							<!--TOP CHARTS Panel -->
							
							<section class="panel color1" id="playlist">
								<div class="intro joined">
									<h2 class="major">Top Charts</h2>
									<p>This week's most popular songs.</p>
								</div>
								<div class="inner">
									<h1>Global Top 50</h1>
									  <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbMDoHDwVN2tF" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
									 <h1>United States Top 50</h1>
									  <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbLRQDuF5jeBp" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
								</div>
							</section>
							<!--PUT RIGHT HERE -->
									<section class="panel spotlight medium right" id="first">
								
							  
								<div class="content span-7">
									
									<h2 class="major"></h2>
									<br>
									
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="https://i.pinimg.com/originals/12/d7/7b/12d77b258c9e13b15a120637f57b29af.jpg" alt=""/>
								</div>
								
							</section>
							<!--TOP CHARTS Panel -->
							
							<section class="panel color3" id="playlist">
								<div class="intro joined">
									<h2 class="major">Viral Charts</h2>
									<p>This week's most played hits.</p>
								</div>
								<div class="inner">
									<h1>Global Viral 50</h1>
									  <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbLiRSasKsNU9" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
									 <h1>United States Viral 50</h1>
									  <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbKuaTI1Z1Afx" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

								</div>
							</section>
							
							 <!--DISCOVERY Panel -->
							<!--<section class="panel">-->
							<!--	<div class="intro color2">-->
							<!--		<h1>Discovery Library.</h1>-->
									  
							<!--	</div>-->
							
							<!-- MONDAY Panel (Spotlight) -->
							<!--<section class="panel spotlight medium right" id="ninth">-->
							  
							<!--	<div class="content span-7">-->
									
							<!--				<h2 class="major">Girls Support Girls</h2>-->
							<!--		<p>GIRL POWER!</p><br>-->
							<!--		<p>Choose a genre.</p>							-->
							<!--		<form method="POST" action = "/women">-->

							<!--				<ol>-->
							<!--				<div class="field quarter">-->
							<!--					<input type="radio" id="pop3" name="user_genre3" value="pop3" class="color2" />-->
							<!--					<label for="pop3">Pop</label>-->
							<!--				</div>-->
							<!--				<div class="field quarter">-->
							<!--					<input type="radio" id="rnb3" name="user_genre3" value="rnb3" class="color2" />-->
							<!--					<label for="rnb3">R&B</label>-->
							<!--				</div>-->
											
							<!--				<div class="field quarter">-->
							<!--					<input type="radio" id="rock3" name="user_genre3" value= "rock3" class="color2" />-->
							<!--					<label for="rock3">Rock</label>-->
												
							<!--				<div class="field quarter">-->
							<!--					<input type="radio" id="country3" name="user_genre3" value= "country3" class="color2" />-->
							<!--					<label for="country3">Country</label>-->
										
							<!--				<div class="field quarter">-->
							<!--					<input type="radio" id="indie3" name="user_genre3" value= "indie3" class="color2" />-->
							<!--					<label for="indie3">Indie</label>-->
												
							<!--				<div class="field quarter">-->
							<!--					<input type="radio" id="folk3" name="user_genre3" value= "folk3" class="color2" />-->
							<!--					<label for="folk3">Folk</label>-->
							<!--				</div>-->
							<!--				<ul class="actions">-->
							<!--					<li><input type="submit" value="Discover a new artist!" class="special color2" /></li>-->
							<!--				</ul>-->
							<!--		</form>-->
							<!--	</div>-->
							<!--	<div class="image filtered tinted" data-position="top left">-->
							<!--		<img src="images/pic02.jpg" alt="" />-->
							<!--	</div>-->
							<!--	<div class="image filtered span-1-75" data-position="24% 25%">-->
							<!--		<img src="http://www.desktopimages.org/pictures/2012/0701/1/orig_559436.jpg" alt=""/>-->
							<!--	</div>-->
								
							<!--</section>-->
							
							
							<!-- RESULTS Discover Panel (Spotlight) -->
							<!--<section class="panel spotlight medium right" id="seventh">-->
							  
							<!--  <p><%=@women_playlist%></p>-->
							  
							<!--	<div class="content span-7">-->
									
									<!--<p><%=@new_artist%></p>-->
									
							<!--	</div>-->
							<!--	<div class="image filtered tinted" data-position="top left">-->
							<!--		<img src="images/pic02.jpg" alt="" />-->
							<!--	</div>-->
								
							<!--</section>-->
							
							 <!--DISCOVERY Panel -->
							<section class="panel">
								<div class="intro color2">
									<h1>Discovery Library.</h1>
									  
								</div>
							
							
							
								<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<!--<div class="image filtered span-1-75" data-position="24% 25%">-->
								<!--	<img src="https://s-media-cache-ak0.pinimg.com/736x/d7/69/ba/d769ba0f115c932a06735533d8599d11--ultra-music-festivals-music-party.jpg" alt=""/>-->
								<!--</div>-->
								
								<div class="content span-20">
									<h1>Meet Khalid.</h1>
									<iframe width="560" height="315" src="https://www.youtube.com/embed/Xhjyb0D6-Wg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
									
									
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</section>
							
						<!--GALLERY-->
								<div class="gallery">
									<div class="group span-3">
										<a href="images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom"><img src="https://media.giphy.com/media/3oEduXeT0j1Bl5uWHK/giphy.gif" alt="" /></a>
										
									<!--DONE	-->
									<a href="images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center"><img src="https://static1.squarespace.com/static/568b228869a91a2847e787f3/584f24afd482e97e9fe30db8/584f2613e3df2821594a7467/1481585993940/AndrewWhite_Beyonce_Formation_World_Tour_Cardiff_033.JPG" alt="" /></a>
									<!--DONE-->
										<a href="images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom"><img src="http://m4.22slides.com/amandalopeztest/img2766bw-1044216.jpg" alt="" /></a>
									</div>
									
									<a href="images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top"><img src="https://68.media.tumblr.com/3cf4d9dc7353041109ecfe10527abc21/tumblr_orz4dkxglo1uyh4gco1_500.jpg" alt="" /></a>
									
									<div class="group span-4-5">
										<a href="images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top"><img src="https://s-media-cache-ak0.pinimg.com/originals/8a/a6/81/8aa6810ca9b08b912f3f0ef7a0dadd7e.jpg" alt="" /></a>
										
										<a href="images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><img src="https://media.giphy.com/media/3o7aD8zaf3MGHk6a2I/giphy.gif" alt="" /></a>
										<!--DONE-->
										<a href="images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><img src="https://media.giphy.com/media/rf7WPD7OcZZKg/giphy.gif" alt="" /></a>
										
										<a href="images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top"><img src="https://68.media.tumblr.com/9c13e69bcd2b81ad556b0533e8c519cf/tumblr_ocam2wMQDN1u7h35po1_1280.jpg" alt="" /></a>
									</div>
									<a href="images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="https://i.pinimg.com/736x/2d/dc/6b/2ddc6b71ca42e77793d3b1cbc2aecec2--hard-summer-porter-robinson.jpg" alt="" /></a>
								</div>
							</section>
							
							<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<!--<div class="image filtered span-1-75" data-position="24% 25%">-->
								<!--	<img src="https://s-media-cache-ak0.pinimg.com/736x/d7/69/ba/d769ba0f115c932a06735533d8599d11--ultra-music-festivals-music-party.jpg" alt=""/>-->
								<!--</div>-->
								
								<div class="content span-20">
									<h1>Meet Alessia Cara.</h1>
									<iframe width="560" height="315" src="https://www.youtube.com/embed/Avo9Pr3C-0I?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
									
									
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</section>
							
							
							<!--DISCOVERY Panel -->
							<section class="panel">
								<div class="intro color2">
									<h1>Meet Fion, Tenzing, and Anna.</h1>
									  
								</div>
								
						<!-- Panel -->
							<section class="panel color4-alt">
								<div class="intro color4">
									<h2 class="major">About us</h2>
									<p><strong>Feelin' It</strong> is an idea that was inspired by our passion for music and its wide selections. We decided to give the user a customizable option so that they can have the perfect playlist to jam to.   </p>
									
								</div>
								<section class="panel spotlight medium right" id="first">
								
							  
								<div class="content span-7">
									
									<h2 class="major"></h2>
									<br>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="File_000.jpeg" alt="" />
								</div>
								<div class="image filtered span-1-75" data-position="24% 25%">
									<img src="File_000.jpeg" alt=""/>
								</div>
								
							

						<!-- Panel -->
						
										
											

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/main.js"></script>
			
			

	</body>
</html>